@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500,900|Permanent+Marker&display=swap');
body {
  font-family: 'Noto Sans HK', sans-serif;
  overflow-x: hidden;
}
.logo {
  font-family: 'Permanent Marker', cursive;
}
.header-menu-item a {
  color: white !important;
}
.header-menu-item .dropdown-menu {
  background: #2f3135;
}
.header-menu-item .dropdown-menu.show {
  display: flex;
}
